div.alert {
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  padding: 10px;
  margin: 15px 0;
  font-weight: bold;
}

div.alert.alert-error {
  border: 2px solid #72201a;
  color: #72201a;
}

div.alert.alert-success {
  border: 2px solid #81a560;
  color: #81a560;
}